header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}
h1 {
  font-family: "Coolvetica", sans-serif;
  font-size: 3rem;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: 0;
  text-align: center;
  vertical-align: middle !important;
}
td > button {
  width: 100px;
}
.fixed-table-body::-webkit-scrollbar {
  display: none;
}
.fixed-table-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#modalTable .fixed-table-body {
  height: 300px;
}

body {
  padding-top: 3rem;
}

/*Login*/
#loginAndRegister {
  width: 26rem;
  padding: 3rem;
  border-radius: 27px;
  background: #eff1f5;
  box-shadow:  24px 24px 48px #b8babd,
  -24px -24px 48px #ffffff;
}

/*Table*/
.card-header:hover{
  box-shadow: 0px 12px 64px #b8babd;
  cursor: pointer;
}

.card {
  border-radius: 15px !important;
  box-shadow:  24px 24px 48px #b8babd,
  -24px -24px 48px #ffffff;
}