//Color Theme Catpuccin
$pine: #31748f;
$dark: #4c4f69;
$base: #eff1f5;
$yellow: #df8e1d;
$peach: #fe640b;
$red: #d20f39;
$flamingo: #dd7878;
$mauve: #8839ef;
$marron: #e64553;
$teal: #179299;
$lavender: #7287fd;
$rosewater: #dc8a78;

$body-bg: $base;
$body-color: $dark;
$nav-pills-link-active-bg: $pine;
$theme-colors: (
  "primary": $pine,
  "warning": $peach,
  "danger": $flamingo,
);
// Create your own map
$custom-colors: (
  "overlay": $lavender,
  "fancy": $mauve,
);
$table-variants: (
  "primary": $pine,
  "warning": $peach,
  "danger": $marron,
  "secondary":  $lavender,
  "success":$mauve,
  "info":$rosewater,
  "light":$teal,
  "dark":$dark,
);
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-merge($table-variants, $custom-colors);
@import "../node_modules/bootstrap/scss/bootstrap";